.checkoutProduct {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
.productQuantity {
  margin-left: 20px;
}
@media screen and (max-width: 500px) {
  .checkoutProduct__title {
    font-size: 8px;
  }
}
@media screen and (max-width: 586px) {
  .checkoutProduct__title {
    font-size: 10px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 400px) {
  .checkoutProduct {
    margin-left: 0;
    padding: 10px;
    display: block;
  }
}
