.footer {
  height: 300px;
  background-color: #232f3e;
  position: relative;
  bottom: 0;
  width: 100%;
}
.info__container > div > ul {
  list-style: none;
  color: white;
}
.info__container {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
}
.info__container > div {
  margin-top: 20px;
}
.info__container > div > ul > li:first-child {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 15px;
}
.back_to_top {
  height: 50px;
  background-color: #111;
}
.info__container > div > ul > li {
  padding: 5px;
  font-size: 12px;
}
.amazon__logo {
  border-top: 1px solid white;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #232f3e;
}
@media screen and (max-width: 453px) and (min-width: 0px) {
  .info__container > div > ul > li:first-child {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 9px;
    padding: 0;
    height: 30px;
  }
  .info__container > div > ul {
    padding: 20px;
  }
  .info__container > div > ul > li {
    padding: 1px;
    font-size: 8px;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    height: 340px;
  }
}
@media screen and (max-width: 568px) and (min-width: 450px) {
  .footer {
    height: 380px;
  }
}
@media screen and (max-width: 980px) and (min-width: 714px) {
  .page_ad_div {
    margin-bottom: -150px;
  }
}
@media screen and (max-width: 713px) and (min-width: 414px) {
  .page_ad_div {
    margin-bottom: -95px;
  }
}
@media screen and (max-width: 454px) and (min-width: 0px) {
  .page_ad_div {
    /* width: 160%; */
    margin-bottom: -82px;
  }
}
